body html {
    font-family: "monospace";
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.backgroundimage {
    background-image: url("pub.jpg");
    background-position: center center;
    width: 100%;
}

@media (max-width: 768px) {
    .backgroundimage {
        background-repeat: repeat;
    }

    .card {
        margin-bottom: 20px;
    }
}

h1 {
    padding: 20px;
    font-size: 3em;
    color: white;
    text-align: center;
}

.gin-details h2 {
    font-size: 2rem;
    color: hotpink;
    text-decoration: hotpink underline;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.row.row-heading {
    justify-content: center;
    align-content: center;
    height: 100%;
}

.main-heading {
    background-color: rgba(0, 0, 0, 0.7);
}

img {
    width: 100%;
}

.container-fluid {
    color: white;
    height: 100%;
}

.gin-row {
    padding-bottom: 50px;
}

.gin-details li {
    color: black;
    font-size: 20px;
    list-style: disclosure-closed;
}

.gin-details p {
    font-size: 20px;
    color: darkgray;
    margin-bottom: 0;
}

.col-4.gin-image {
    border: 4px solid hotpink;
    padding: 4px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.gin-details div {
    margin-top: 20px;
}

.ueberschrift-impressum {
    font-size: 22px;
}

.botanicals-margin {
    margin-top: 10px;
}